.cf-result-box{
    position: relative;
    width: 90%;
    height: auto;

    background: #8FC5B5;
    border-radius: 10px;

}

.cf-summary-box{
    position: relative;
    width: 97%;
    height: auto;
    top: 20px;
    left: 18px;
    padding: 20px;
    background: #D8E5E1;
    border-radius: 10px;
}

.cf-view-details-box{
    position: relative;
    width: 155px;
    height: 35px;
    top : 10px;
    color: black;

    background: #D8E6E1;
    border-radius: 10px;
}

.cf-trial-name{
    position: relative;
    height: 21px;
    left: 25px;
    top: 15px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.cf-summary-para{
    position: relative;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: left;

    color: #000000;
}